﻿// Colors
@white: #ffffff;
@light-grey: #CCCCCC;
@dark-grey: #919396;
@black: #000000;

@green: #86C557;

@light-blue: #0058A1;
@blue: #004481;
@dark-blue: #002F63;

@light-red: #B32945;
@red: #9C213B;
@dark-red: #7A1229;

// Sizes
@radius: 1rem;
@small-radius: .75rem;
@padding-side: @radius*2;

body {
    background: @dark-grey;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: @black;
}

h1 {
    font-size: 2.5rem;
    color: @red;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

html {
    height:100%;
}

body {
    display: flex;
    display: -webkit-flex;
    height: 100%;
}

body>section {        
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    display: flex;
    display: -webkit-flex;
    background: @white;
    border-radius: @radius;
    padding-left: @padding-side;
    padding-right: @padding-side;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 1rem;
    min-height: 20rem;

    
    .buttons {
        flex: 0 0 auto;
        font-size: 1.2rem;
        align-self: left;
        -webkit-align-self: left;
        text-align: left;
    }

    .code-input {
        flex: 2 1 50%;
        -webkit-flex: 2 1 50%;
        border: 3px solid @blue;
        margin-top: 1rem;
        border-radius: @small-radius;
        overflow: hidden;
        font-size: 1em;
        font-family: courier;
    }

    .code-output {
        flex: 1 1 40%;
        overflow: auto;
        font-family: courier;
        font-size: inherit;
        font-size: 1em;
        margin: .2rem;
        padding: .3rem;
    }

    .rounded-box {
        display: flex;
        flex: 1 1 40%;
        -webkit-flex: 1 1 40%;
        border: 3px solid @blue;
        margin-top: 1rem;
        border-radius: @small-radius;
    }
}

button {
    width: auto;
    height: 2em;
    background: @blue;
    color: @white;
    border: none;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.outcome {
    display: inline-block;
    color: @white;
    border-radius: 100%;
    width: 2em;
    line-height: 2em;
    text-align: center;
}

.invisible {
    opacity: 0;
}

.checkmark {
    display: inline-block;
    background-color: @green;
    color: @white;
    border-radius: 100%;
    font-size: 1.5rem;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
}

.success {
    background-color: @green;
}

.hidden {
    display: none;
}
