<!DOCTYPE html>

<html>
<head>
<title> Test of WebSockets </title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<section>
    <div class="buttons">
        <button id="exec-button">Exec</button>
        <button id="eval-button">Eval</button>
    </div>

<pre id="editor" class="code-input">
</pre>

<div style="display:flex; flex-direction:row; flex: 1 1 40%">
    <pre id="returnMessage" class="code-output"> </pre>

    <pre id="sentMessage" class="code-output" style="height:20rem;"> </pre>
</div>

</section>

<script src="js/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/opencs");
    editor.getSession().setMode("ace/mode/python3");
</script>

<script src="js/python-socket.js" type="text/javascript"></script>
<script>
var codeEntry = document.getElementById("codeEntry");
var output = document.getElementById("returnMessage");
var echo = document.getElementById("sentMessage");
var execButton = document.getElementById("exec-button");
var evalButton = document.getElementById("eval-button");

var pythonSocket = new PythonSocket("ws://localhost:{{portNumber}}/python-socket");
pythonSocket.setDebug(echo);
pythonSocket.setOutput(output);

evalButton.onclick = function () {
    pythonSocket.eval(editor.getValue());
}

execButton.onclick = function () {
    editor.focus()
    pythonSocket.exec(editor.getValue());
}

var runCode = function(editor) {
    pythonSocket.exec(editor.getValue());
};
    
editor.commands.addCommand({
        name: 'runCode',
        bindKey: {win: 'Shift-Enter', mac: 'Shift-Enter'},
        exec: runCode,
        readOnly: true
    });

    editor.focus()
</script>

</html>
