<!DOCTYPE html>
<html lang="en">
<head>
<title>Python Environment</title>

<link rel="stylesheet" href="css/style.css">
</head>
<body>

<section>
    <div class="buttons">
        <button id="runButton">Run the code</button>
        <span id="outcome" class="outcome success invisible">&#10003;</span>
    </div>

<pre id="editor" class="code-input">
</pre>

<div class="rounded-box">
    <pre id="python-output" class="code-output">
    </pre>
</div>

</section>
<script src="js/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/opencs");
    editor.getSession().setMode("ace/mode/python3");
</script>
<script src="js/python-socket.js" type="text/javascript"></script>
<script>
    var output = document.getElementById("python-output");

    var pythonSocket = new PythonSocket("ws://localhost:{{portNumber}}/python-socket");
    pythonSocket.setOutput(output);

    var runCode = function(editor) {
        pythonSocket.exec(editor.getValue());
    };

    editor.commands.addCommand({
            name: 'runCode',
            bindKey: {win: 'Shift-Enter', mac: 'Shift-Enter'},
            exec: runCode,
            readOnly: true
        });
    document.getElementById("runButton").onclick = function () {
            editor.focus()
            runCode(editor);
        };
    editor.focus()
</script>
</body>
</html>

